<!DOCTYPE html>
<!-- This content may not be copied, shared, distributed, modified, or used for any purpose,
     commercial or non-commercial, without prior written permission from the author. -->
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>HIERO - Hebrew Idiom in English Roots</title>
<link rel="stylesheet" href="styles.css" />
<link rel="stylesheet" href="read/styles.css" />
</head>
<body>
<div id="header" class="headfoot">
<a href="http://gfassero.github.io/HIERO/" class="split">About</a><a href="read/">Bible</a>
</div>

<div class="content-container">
<div class="panel" id="key">
<h1>HIERO</h1>
<p>HIERO (Hebrew Idiom in English Roots) is a partial translation of the Old Testament, in which Hebrew word order and vocabulary choices are transparent to the reader.</p>

<div>
<p><a href="index.html">Introduction</a></p>
<p>
<a href="read/">Read HIERO</a><br>
<a href="formatting.html">Formatting</a></p>
<p>
<a href="lexicon.html">The Lexicon</a><br>
<a href="technical.html">The Program</a><br>
<a href="sources.html">Sources</a></p>
<p>
<a href="https://github.com/gfassero/HIERO">GitHub Repository</a></p>
</div>

</div>

<div class="panel">
<div id="markdown">

{{ content }}

</div>
</div>
</div>

</body>
</html>