@import "styles-paragraph.css";
@import "styles-span.css";

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3em; /* line spacing */
    padding: 0em;
    margin: 0em;
    font-size: 1rem !important;
}

* {
    scroll-margin-top: 6em;
    scroll-behavior: smooth;
    font-family: serif;
    font-size: 1rem !important;
}

#header {
    order: -2; /* Place TOC first */
    position: sticky;
    top: 0;
    padding: 1em; /* top/bottom first, then left/right second */
    border-bottom: 1px solid #c0c0c0;
    z-index: 99;
    background: white;
    font-size: 1em;
}

#translation {
    padding: 0em 1em; /* top/bottom first, then left/right second */
}

@media print {
    body {
        font-size: 7pt;
    }

    #header, #table-of-sections, #footer {
        display: none !important;
    }

    #translation {
        padding: 0;
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-fill: balance; /* Creation of columns is symmetrical. */
        column-gap: 2em; /* Distance between columns */
        column-rule: 1px solid black; /* Lines between columns */
        column-width: auto; /* Width of all columns */
    }
}

.anchor, .anchor-section, .anchor-psalm {
    display: block;
    width: 6em;
    white-space: nowrap;
    font-size: 1rem !important;
}

#table-of-sections {
    order: -1; /* Place TOC first */
    padding: 1em; /* top/bottom first, then left/right second */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
    background: #e0e0e0;
}

#footer {
    padding: 1em; /* top/bottom first, then left/right second */
    display: block;
}