@import "styles-paragraph.css";
@import "styles-span.css";

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3em; /* line spacing */
    padding: 0em;
    margin: 0em;
}

* {
    scroll-margin-top: 6em;
    scroll-behavior: smooth;
    font-family: serif;
}

#header {
    order: -2; /* Place TOC first */
    position: sticky;
    top: 0;
    z-index: 99;
    border-bottom: 1px solid #c0c0c0;
}
#header, #footer {
    padding: 1em;
    background: #f4f4f4;
}
#footer {
    border-top: 1px solid #c0c0c0;
}

#translation {
    padding: 1em;
}

@media print {
    body {
        font-size: 7pt;
    }

    #header, #table-of-sections {
        display: none !important;
    }

    #printable {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-fill: balance; /* Creation of columns is symmetrical. */
        column-gap: 2em; /* Distance between columns */
        column-rule: 1px solid black; /* Lines between columns */
        column-width: auto; /* Width of all columns */
    }

    #translation {
        padding: 0;
    }

    #footer {
        border: none;
        background: none;
        margin-top: 2em;
    }
    #footer > a:link, #footer > a:visited {
        color: black;
        text-decoration: none;
    }
}

.anchor, .anchor-section, .anchor-psalm {
    display: block;
    white-space: nowrap;
}

#table-of-sections {
    order: -1; /* Place TOC first */
    padding: 1em; /* top/bottom first, then left/right second */
    background: #e0e0e0;
    border-bottom: 1px solid #c0c0c0;
    column-width: 5em;
}